{
  "singleQuote": true,
  "arrowParens": "always",
  "semi": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-svelte",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "<SEPARATOR>",
    "^@/",
    "^src/",
    "^[./]"
  ],
  "importOrderParserPlugins": ["classProperties", "decorators", "typescript"],
  "overrides": [
    {
      "files": "web/**/*",
      "options": {
        "useTabs": true,
        "trailingComma": "none",
        "printWidth": 100,
        "importOrder": [
          "<THIRD_PARTY_MODULES>",
          "<SEPARATOR>",
          "^(\\$lib|\\.{1,2})/(.*)$"
        ],
        "tailwindStylesheet": "./web/src/app.css",
        "tailwindFunctions": ["cn"]
      }
    },
    {
      "files": "web/**/*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
